@import './Variable.scss';
@import './MeyerReset.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:400);

html {
	height: 100%;
	background-color: $default
}

body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	background-color: $primarymain;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

	h1 {
		font-size: 2rem;
		padding: 0 16px;
		color: white;
	}

	nav {
		padding: 0 16px;
	}
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 5rem;
	background-color: $primarymain;

	div {
		

		p {
			color: white;
			padding: 8px
		}
	}
}
